html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box; /* Assure que les bordures/paddings sont inclus dans les dimensions */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none; /* Supprime les styles par défaut des listes */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.timeline {
  position: relative;
  padding: 2rem 0;
  margin: 2rem 0;
}

.timeline-event {
  margin-bottom: 2rem;
  position: relative;
  padding-left: 2rem;
  border-left: 2px solid #ccc;
}

.timeline-event::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 0;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

button:hover {
  color: white;
  background-color: var(--primary-color);
  opacity: 0.8;
}